<meta charset="utf-8" />
<meta name="author" content="Søren Howe Gersager, Anders Rahbek" />
<title>YouTube Sentiment Analysis</title>
<meta name="description" content="analysis of youtube comments with sentiment analysis using python"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Oswald:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{{ url_for('static', filename='site.js') }}"></script>
