{% extends "layout.html" %}
{% block content %}
<form action="/video">
  <p> Enter ID or URL for the youtube video you want to analyze</p>
  <input  type="text" name="video_id" id="video-id" value="https://www.youtube.com/watch?v=OFoz913B96Q">
  <input type="submit" onClick="showSpinner()" id="spotButton" value="Send">
</form>

<div id="squaresWaveG">
<div id="squaresWaveG_1" class="squaresWaveG">
</div>
<div id="squaresWaveG_2" class="squaresWaveG">
</div>
<div id="squaresWaveG_3" class="squaresWaveG">
</div>
<div id="squaresWaveG_4" class="squaresWaveG">
</div>
<div id="squaresWaveG_5" class="squaresWaveG">
</div>
<div id="squaresWaveG_6" class="squaresWaveG">
</div>
<div id="squaresWaveG_7" class="squaresWaveG">
</div>
<div id="squaresWaveG_8" class="squaresWaveG">
</div>
</div>
{% endblock %}
