{% extends "layout.html" %}
{% block content %}
<h2>Description</h2>

<object id="ytplayer" data="http://www.youtube.com/embed/{{video["video_info"]["id"]}}"
   width="640" height="390"></object>
<h2>Analysis of video with ID: {{video["video_info"]["id"]}}</h2>
<p>Positive sentiment value: {{video["sentiment"].n_pos}}</p>
<p>Negative sentiment value: {{video["sentiment"].n_neg}}</p>
<p> Overall this video is deemed: {{video["sentiment"].result}}</p>
<img src="comment_sentiment_plot.png?video_id={{video["video_info"]["id"]}}" alt="plot">
<img src="video_sentiment_plot.png?video_id={{video["video_info"]["id"]}}" alt="plot">
{% endblock %}
